/* 
六角學院 2022公益程式營
切版任務二
程度Lv1
Discord: Arial#4419
*/

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}


.header {
    text-align: center;
}

.navbar {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo>a>img {
    width: auto;
    max-height: 40px;
}

.btn_price>a {
    color: #FFFFFF;
    padding: 8px 23px;
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    white-space:nowrap;
}


.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.info{
    padding: 10px;
    display: block;
    text-align: left;    
}

.info > h3 {
    color: #56C4C5;
    font-size: 1em;
    font-weight: 600;
    line-height: 26px;
}

.info > h1{
    padding-top: 8px;
    color: #221E1F;
    font-size: 2em;
    font-weight: 900;
    line-height: 1.3em;
    white-space:nowrap;
}

.info > p{
    padding-top: 16px;
    color: #221E1F;
}

.visualPic2{
    margin-left: -60%;
}



/* RWD */
/* for 一般電腦裝置(螢幕尺寸>1025px) */
@media screen and (min-width:1025px){

    .navbar_line{
        visibility: hidden;
    }
    .visualPic {
        position: relative;
        text-align: right;
        z-index: -1;
        margin-top: -100px;
    }
    .banner{
        flex-direction: row;
        margin-top: -38%;
        padding:0 12%;
    }
    .BN_Man{
        width:400px;
    }
  }
/* for 平板裝置(768px<螢幕尺寸<1024px) */
@media screen and (min-width:768px) and (max-width:1024px){

    .navbar_line{
        visibility: hidden;
    }

    .visualPic {
        position: relative;
        text-align: right;
        z-index: -1;
        margin-top: -100px;
    }
    .banner{
        flex-direction: row;
        margin-top: -36%;
        padding:0 12%;
    }
    .BN_Man{
        width: 350px;
    }
}
/* for 手機裝置(螢幕尺寸<768px) */
@media screen and (max-width:767px){

    .navbar_line{
        visibility: visible;
    }
    .visualPic {
        display: none;
    }

    .banner{
        flex-direction:column;
    }

    .BN_Man{
        padding: top 8px;
        width: 300px;
        background: url('/images/bg_home_sm.svg') center center no-repeat;
        background-size:contain;
    }
    
}