/* 
六角學院 2022公益程式營
切版任務二
程度Lv1
Discord: Arial#4419
*/

body {
    margin: 0 auto;
    font-family: "Microsoft JhengHei", Helvetica, sans-serif, Arial;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

h1 {
    padding: 8px 0;
    color: #221E1F;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
    white-space: nowrap;
}

h2 {
    color: #221E1F;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

h3 {
    padding: 8px 0;
    color: #56C4C5;
    font-size: 1em;
    font-weight: 600;
    line-height: 26px;
}

h4{
    padding: 8px 0;
    color: #221E1F;
    font-size: 1.1em;
    font-weight: 800;
}

p {
    padding: 8px 0;
    color: #221E1F;
}

hr {
    width: 100%;
    color: #FFD153;
    border: #FFD153 solid 1px;
}

/* ------ */

.container {
    max-width: 900px;
    margin: 0 auto;
    border: 1 solid #221E1F;
}


.navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo>a>img {
    width: auto;
    max-height: 40px;
}

.btn_price>a {
    color: #FFFFFF;
    padding: 8px 23px;
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    white-space: nowrap;
}


.banner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    padding: 10px;
    display: block;
    text-align: left;
}

/* 背景圖 */
.bg_home {
    display: block;
    position: relative;
    text-align: right;
    z-index: -1;
}

.ball01 {
    position: relative;
    text-align: left;
    z-index: -1;
    
}

/* 背景圖END */

.plat {
    padding: 20px 0;
    text-align: center;    
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}


.plat-item{
    padding: 20px;
    align-items: center;
}

.plat-item > p{
    white-space: nowrap;
}



/* RWD */
/* for 一般電腦裝置(螢幕尺寸>1025px) */
@media screen and (min-width:1025px) {

    /* 背景圖 */
    .bg_home {
        margin-top: -600px;
    }

    .bg_home > img{
        max-height: 700px;
    }
    
    .ball01 {
        margin-left: -15%;
        margin-top: -25%;        
    }

    /* 背景圖END */

    .navbar_line {
        visibility: hidden;
    }

    .banner {
        flex-direction: row;
    }

    .BN_Man {
        width: 400px;
    }


    .plat_logo {
        width: 90px;
        height: 90px;
    }
}

/* for 平板裝置(766px<螢幕尺寸<1024px) */
@media screen and (min-width:766px) and (max-width:1024px) {

    /* 背景圖 */
    .bg_home {
        margin-top: -530px;
    }

    .bg_home > img{
        max-height: 500px;
    }

    .ball01 {
        margin-left: -25%;
        margin-top: -35%;        
    }

    /* 背景圖END */

    .navbar_line {
        visibility: hidden;
    }

    .banner {
        flex-direction: row;
    }

    .BN_Man {
        width: 350px;
    }

    .plat_logo {
        width: 90px;
        height: 90px;
    }
}

/* for 手機裝置(螢幕尺寸<766px) */
@media screen and (max-width:765px) {
    /* 背景圖 */
    .bg_home {
        display: none;
    }

    .ball01 {
        margin-left:-25%;
        margin-top: -160%;        
    }

    .ball01 >img{
        max-height: 170px;
    }


    /* 背景圖END */

    .navbar_line {
        visibility: visible;
    }

    .banner {
        flex-direction: column;
    }

    .BN_Man {
        padding: top 8px;
        width: 300px;
        background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg") center center no-repeat;
        background-size: contain;
    }


    .plat_logo {
        width: 60px;
        height: 60px;
    }

}